<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>Movie Search Application!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Hello Visitor!</h1>
    <p class="lead">
      This is a simple movie search application, where users can search for
      their favourite movie and all their thoughts on it.
    </p>
    <hr class="my-4" />
    <p>This is created by Himanshu Balasamanta.</p>
    <p>It is my first project that is deployed on AWS. It is a trial. I now aim to deploy more complicated and intricate projects onto AWS.</p>
    <p>I am a final year student at IIT BHU, Varanasi, pursueing Electrical Engineering. I am passionate about building software that can be put to use and which comes close in its utility and scalabilty to those of real world products.</p>
  </div>
</div>
<%- include("./partials/footer")%>
